html{ 
    scroll-behavior: smooth;
}
body{ 
    
        
        font-weight: 400;
        font-style: normal;
     
      
}
h1,h2,h3,h4,h5,h6{ 

}

.section-title h3{ 
    font-weight: bolder;
    margin-bottom: 0;
}


/* header section start */
header{ 
    background-image: url(images/school.webp);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{ 
    padding: 1% 10%;
    background-color: rgba(0,0,0,0.3);
}

.navbar-icon{ 
    color: white;
}

.nav-link{ 
    color: white;
    border-radius: 5px;
    margin: 10px;
    transition: .4s;
}

.nav-link:hover{ 
    background-color: #2980b9;
    color: white;
    transform: scale(1.1);
}

.navbar-brand img{ 
    width: 60px;
    height: auto;
}

.banner-container{ 
    height: 100vh;
}

.banner-container h1{ 
    font-size: 3.5rem;
    background-color: rgba(7,101,189,0.8);
    font-family: "Handlee", cursive;
    padding: 10px 20px;
    border-radius: 5px;
}
/* header section end */


/* features start */
#features{ 
    padding: 4% 10%;
    background-color: #e8ded2;
}

.features-col{ 
    border: 1px solid #ff02c0;
    border-radius: 5px;
    padding: 15px;
    margin: 20px 0;
    transition: .4s;
}

.features-col:hover{ 
    transform: scale(1.1);
    box-shadow: 2px 3px 4px black;
    
}

.icon-style{ 
    background-color: #bb0aac;
    color: white;
    padding: 15px;
    margin: 10px 0;
}
/* features start */


/* about-section start*/
#about-me{ 
    padding: 4% 10%;
    background-color: #e8ded2;
}

#about-me p{ 
    font-size: 0.9rem;
    margin-bottom: 0;
    font-weight: light;
}

#about-me a{ 
    font-size: 0.9rem;
    font-weight: lighter;
    color: black;
    text-decoration: underline;
}

.achive-description span{ 
    font-weight: 700 !important;
}

/* about-section start*/

