html{ 
    scroll-behavior: smooth;
}
body{ 
    
        
        font-weight: 400;
        font-style: normal;
     
      
}
h1,h2,h3,h4,h5,h6{ 

}
/* header section start */
header{ 
    background-image: url(images/school.webp);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

.navbar{ 
    padding: 1% 10%;
    background-color: rgba(0,0,0,0.3);
}

.navbar-icon{ 
    color: white;
}

.nav-link{ 
    color: white;
    border-radius: 5px;
    margin: 10px;
    transition: .4s;
}

.nav-link:hover{ 
    background-color: #2980b9;
    color: white;
    transform: scale(1.1);
}

.navbar-brand img{ 
    width: 60px;
    height: auto;
}

.banner-container{ 
    height: 100vh;
}

.banner-container h1{ 
    font-size: 3.5rem;
    background-color: rgba(7,101,189,0.8);
    font-family: "Handlee", cursive;
    padding: 10px 20px;
    border-radius: 5px;
}

/* header section end */
